.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-image: linear-gradient(129deg, #ffa12d 19.04%, #358717 91.43%);
  width: 100%;
}
.leftportion {
  display: flex;
  width: 50em;
  flex-direction: column;
  align-items: center;

  color: #fff;
  font-weight: normal;
}
.toptxt {
  color: #fff;
  margin-top: 2rem;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: em;
  letter-spacing: -0.45px;
}
.bottomtxt {
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 45px;
  margin-top: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 2.25px;
}
.imagelogo {
  flex-direction: row;
  gap: 80px;
  margin-top: 2.5em;
  word-spacing: 5em;
}
#g20 {
  width: 14em;
  margin-right: 2rem;
  background-image: radial-gradient(#ffffffd1, #ffffff47);
  box-shadow: 0 0 100px #ffffff;
  border: 0px solid transparent;
  border-radius: 1em;
}
#think {
  background-image: radial-gradient(#ffffffd1, #ffffff47);
  box-shadow: 0 0 100px #ffffff;
  border: 0px solid transparent;
  border-radius: 1em;
}

.motto-container {
  position: absolute;
  top: 38em;
  bottom: 2em;
}
.motto-container img {
  width: 25em;
}
/* Media queries for responsive design */

@media (max-width: 768px) {
  .hero {
    justify-content: center;
  }
  .toptxt {
    font-size: 24px;
  }

  .bottomtxt {
    font-size: 24px;
  }

  .imagelogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5em;
  }

  #g20 {
    margin-bottom: 40px;
  }
  #g20,
  #think {
    max-width: 8em;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 85vh;
    justify-content: center;
    padding-bottom: 5rem;
  }
  .leftportion {
    margin-top: 2rem;
  }
  .toptxt {
    font-size: 2rem;
    word-spacing: 0.5rem;
  }

  .bottomtxt {
    font-size: 1.8rem;
    text-align: center;
  }

  .imagelogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5em;
    margin-left: 25px;
  }

  #g20 {
    margin-bottom: 40px;
  }
  #g20,
  #think {
    max-width: 8em;
  }
  #think {
    position: relative;
    top: -3rem;
    margin-bottom: 2rem;
  }

  .motto-container {
    flex-wrap: wrap;
    margin-top: 5rem;
  }
  .motto-container img {
    width: 20rem;
  }
}
